{% extends 'base.html' %}

{% block title %}
<title>Booking Management App</title>
{% endblock %}

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<!-- Icon CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% block content %}
<main>
    
    <div class="container-fluid mt-4">
        <h1 class="mb-4">Bookings</h1>
        
        <!-- Import buttons -->
        <div class="mb-3">
            <a class="btn btn-secondary me-2" id="importButton" href="/add-booking">Import</a>
            <button class="btn btn-secondary me-2" id="batchImportBtn">Batch Import</button>
            <div id="batchImportModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="closeModal">&times;</span>
                    <form method="POST" enctype="multipart/form-data" action="/batch-import-bookings">
                        <input type="file" name="file" accept=".csv, .xlsx" required>
                        <button type="submit">Upload</button>
                    </form>
                </div>
            </div>
            <button class="btn btn-secondary" id="exportBtn">Export to csv</button>
        </div>

        <!-- DataTable Card -->
        <div class="card mb-4">
            <div class="card-body">
                {% if bookings|length < 1 %}
                <h4 class="text-center">There are no bookings. Add one above.</h4>
                {% else %}
                <div class="table-responsive">
                    <table class="table table-striped" id="bookingdataTable">
                        <thead>
                            <tr>
                                <th><input type="text" id="filter_book_id" class="form-control" placeholder="Filter Booking ID"></th>
                                <th><input type="text" id="filter_book_receipt_no" class="form-control" placeholder="Filter Receipt No"></th>
                                <th><input type="text" id="filter_book_cust_id" class="form-control" placeholder="Filter Customer ID"></th>
                                <th><input type="text" id="filter_book_date" class="form-control" placeholder="Filter Booking Date"></th>
                                <th><input type="text" id="filter_book_weight" class="form-control" placeholder="Filter Weight (g)"></th>
                                <th><input type="text" id="filter_book_gold_price" class="form-control" placeholder="Filter Gold Price"></th>
                                <th><input type="text" id="filter_book_labor_price" class="form-control" placeholder="Filter Labor Price"></th>
                                <th><input type="text" id="filter_book_price" class="form-control" placeholder="Filter Total Price"></th>
                                <th><input type="text" id="filter_book_remaining" class="form-control" placeholder="Filter Remaining Amount"></th>
                                <th><input type="text" id="filter_book_status" class="form-control" placeholder="Filter Status"></th>
                                <th>...Actions...</th>
                            </tr>
                            <tr>
                                <th>Booking ID</th>
                                <th>Booking Receipt No</th>
                                <th>Booking Customer ID</th>
                                <th>Booking Date</th>
                                <th>Book Weight (g)</th>
                                <th>Gold Price</th>
                                <th>Labor Price</th>
                                <th>Total Price</th>
                                <th>Remaining Amount</th>
                                <th>Booking Status</th>
                                <th>...Actions...</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.book_id }}</td>
                                <td>{{ booking.book_receipt_no }}</td>
                                <td>{{ booking.book_cust_id }}</td>
                                <td>{{ booking.book_date }}</td>
                                <td>{{ booking.book_weight }}</td>
                                <td>{{ booking.book_gold_price }}</td>
                                <td>{{ booking.book_labor_price }}</td>
                                <td>{{ booking.book_price }}</td>
                                <td>{{ booking.book_remaining }}</td>
                                <td>{{ booking.book_status }}</td>
                                <td>
                                    <a href="/book-bookpayment/{{ booking.book_id }}">
                                        <div class="btn btn-success btn-sm"><i class="fas fa-dollar-sign"></i></div>
                                    </a>
                                    <a href="/update-booking/{{ booking.book_id }}">
                                        <div class="btn btn-warning btn-sm"><i class="fas fa-edit edit-icon"></i></div>
                                    </a>
                                    {% if booking.book_status != "CANCELLED" %}
                                    <form id="cancel-booking-{{ booking.book_id }}" action="/cancel-booking/{{ booking.book_id }}" method="post" style="display: inline;">
                                        <a onclick="confirmDelete('{{ booking.book_id }}')">
                                            <div class="btn btn-danger btn-sm"><i class="fas fa-minus"></i></div>
                                        </a>
                                    </form>
                                    {% endif %}
                                    <!-- <form id="delete-form-{{ booking.book_id }}" action="/delete-booking/{{ booking.book_id }}" method="post" style="display: inline;">
                                        <a onclick="confirmDelete('{{ booking.book_id }}')">
                                            <div class="btn btn-danger btn-sm"><i class="fas fa-trash trash-icon"></i></div>
                                        </a>
                                    </form> -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
        
    </div>

    <!-- jQuery and DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        // Function to apply multiple filters at once
        $('#bookingdataTable thead input').on('keyup change', function() {
            // Collect filter values from all header input fields
            var filters = [];
            $('#bookingdataTable thead input').each(function() {
                filters.push($(this).val().toLowerCase());  // Store the filter values in an array
            });

            // Loop through each row and apply the filter conditions
            $('#bookingdataTable tbody tr').each(function() {
                var row = $(this);
                var isVisible = true;  // Assume the row is visible initially

                row.children().each(function(index) {
                    var cellText = $(this).text().toLowerCase();

                    // If the column has a filter and the cell does not match the filter, set isVisible to false
                    if (filters[index] && cellText.indexOf(filters[index]) === -1) {
                        isVisible = false;
                    }
                });

                // Show or hide the row based on whether it matches all filters
                if (isVisible) {
                    row.show();
                } else {
                    row.hide();
                }
            });
        });
    });


        $(document).ready(function() {
            var table = $('#bookingdataTable').DataTable();

            function sendDataToFlask(data) {
                fetch('/your-endpoint', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                    console.log('Success:', result);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            $('#exportBtn').click(function () {
                const userConfirmed = confirm("Are you sure you want to export the data?");
                if (!userConfirmed) {
                    console.log("Export canceled.");
                    return; // Stop if user cancels
                }
                var table = $('#bookingdataTable').DataTable(); // Use DataTables API
                var data = [];

                var headers = [];
                $('#bookingdataTable thead tr:eq(1) th').each(function (index) {
                    if ($(this).text().trim() !== 'Actions') {
                        headers.push($(this).text().trim());
                    }
                });

                // Loop through all data rows, not just visible
                table.rows({ search: 'applied' }).every(function () {
                    var row = {};
                    var dataCells = this.data(); // Get full row data

                    $(dataCells).each(function (i, cellData) {
                        if (i < headers.length) {
                            row[headers[i]] = $('<div>').html(cellData).text().trim(); // Safely get text
                        }
                    });

                    data.push(row);
                });

                // CSV with BOM for Excel
                let csv = "\uFEFF" + headers.join(",") + "\n" +
                    data.map(row => headers.map(header => {
                        let cell = row[header];
                        if (cell.includes('"') || cell.includes(',') || cell.includes('\n')) {
                            cell = '"' + cell.replace(/"/g, '""') + '"';
                        }
                        return cell;
                    }).join(",")).join("\n");

                const blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
                const url = URL.createObjectURL(blob);
                const link = document.createElement("a");
                link.setAttribute("href", url);
                link.setAttribute("download", "booking_data.csv");
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
        });
    </script>
    <script>
        var modal = document.getElementById("batchImportModal");
        var btn = document.getElementById("batchImportBtn");
        var span = document.getElementById("closeModal");

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        function confirmDelete(bookingId) {
            if (confirm('Are you sure you want to cancel the booking with ID="' + bookingId + '"?')) {
                document.getElementById('cancel-booking-' + bookingId).submit();
                // document.getElementById('delete-form-' + bookingId).submit();
            }
        }
    </script>
</main>
{% endblock %}
